@import "tailwindcss";
@config "../tailwind.config.ts";

@layer utilities {
  .backdrop-blur-liquid {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
  }
}

/* HIDE SCROLLBARS (DRAG BARS) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}